.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
  }
  